/* Ievads */

.atb-title {
    margin-top: 15%;
    text-align: center;
    position: relative;
}

.atb-apraksts {
    margin-top: 4.6%;
    margin-bottom: 11%;
    margin-left: 16.7%;
    text-align: center;
    letter-spacing: 0.15px;
    font-size: 18px;
    width: 67%;
    font-family: Montserrat, sans-serif;
    color: #2F4858;
}

.izvelne { 
    width: 100%; 
    overflow: hidden;
    margin-bottom: 5%;
    margin-top: -3.2%;
}

.virs-teksts {
    display: block;
    margin-top: -1%;
    margin-bottom: 3%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    letter-spacing: -0.015em;
    color: #FFA800;
}

.vieta {
    float: left;
    margin-left: 28%;
}

.veids {
    float: right;
    margin-right: 27.8%;
}

.atb-select {
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: none;
    width: 288px;
    height: 43px;
    font-weight: bold;
}

.opt-style {
    border: none;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    letter-spacing: -0.015em;
    color: #2F4858;   
}

option:checked { font-weight: bold; }

.empty-opt { display: none; }

/* Atbalstītāji */

#sponsors { display: none; }

.cafe-name {
    margin-left: 35.5%;
    margin-top: -5%;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    color: #2F4858;
}

.cafe-info {
    margin-right: 20%;
    margin-top: -4.5%;
    text-align: right;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #2F4858;
}

#purch-cafe {
    margin-left: 19.6%;
    margin-top: 10.8%;
}

.row-2 {
    margin-top: 4.5%;
    margin-bottom: 6.4%;
}

#kurts-cafe { margin-left: 20.1%; }


#map {
    width: 100%;
    height: 658px;
}

footer { margin-top: -4%; }

.footer-pamats { background-color: unset; }