.banka-title {
    margin-top: 15%;
    text-align: center;
    position: relative;
}

@media (max-width: 970px) {
    .banka-title { margin-top: 22%; }
}

@media (max-width: 660px) {
    .banka-title { margin-top: 29%; }
}

/* Video */

.sapnu-vid {
    margin-top: 4.6%;
    position: relative;
    width: 100%;
}

@media (max-width: 970px) {
    .sapnu-vid { 
        margin-top: 6.45%; 
        margin-bottom: 19%;
    }
}

@media (max-width: 660px) {
    .sapnu-vid { margin-top: -1.4%;  }
}


#thumbnail { width: 100%; }

#play {
    left: 0;
    top: 0.6%;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 9.2%;
}

@media (max-width: 970px) {

    #play { width: 16.1%; }
}

@media (max-width: 660px) {

    #play { width: 23.1%; }
}

/* Mērķi */

.sec-title {
    margin-top: 10.9%;
    text-align: center;
}

@media (max-width: 970px) {
    .sec-title { margin-top: 17.2%; }
}

@media (max-width: 660px) {
    .sec-title { margin-top: 36.8%; }
}

#sun-icon {
    float: left;
    margin-left: 28%;
    margin-top: -1%;
}

@media (max-width: 970px) {
    #sun-icon {
        margin-left: 14.6%;
        margin-top: 4%;
    }
}

@media (max-width: 660px) {
    #sun-icon {
        float: none;
        margin-left: 31.6%;
        margin-top: 11%;
        width: 37%;
    }
}

#sun-text {
    float: right;
    margin-right: 20%;
}

@media (max-width: 970px) {
    #sun-text {
        margin-right: 11%;
        margin-top: 5.3%;
    }
}

@media (max-width: 660px) {
    #sun-text {
        margin-top: 7.3%;
        margin-left: 5%;
        margin-right: unset;
        float: none;
    }
}


#kalni-icon {
    float: right;
    margin-right: 35.5%;
}

@media (max-width: 970px) {
    #kalni-icon {
        margin-top: 3%;
        margin-right: 16%;
    }
}

@media (max-width: 660px) {
    #kalni-icon {
        float: none;       
        margin-top: 9%;
        margin-left: 31%;
        margin-right: unset;
        width: 37%;
    }
}

#kalni-text {
    float: left;
    text-align: right;
    margin-left: 11.9%;
    margin-top: 1.6%;
}

@media (max-width: 970px) {
    #kalni-text {
        margin-left: 10.7%;
        margin-top: 4.6%;
    }
}

@media (max-width: 660px) {
    #kalni-text {
        margin-left: 6.7%;
        margin-top: 6.6%;
        width: 87%;
        float: none;
        text-align: center;
    }
}

#brilles-icon {
    float: left;
    margin-left: 27.8%;
    margin-top: 0.8%;
}

@media (max-width: 970px) {
    #brilles-icon {
        margin-top: 3.5%;
        margin-right: 3%;       
        margin-left: 15.8%;
    }
}

@media (max-width: 660px) {
    #brilles-icon {
        margin-top: 8.5%;
        margin-right: 3%;
        margin-left: 31.8%;
        width: 37%;
        float: none;
    }
}

#brilles-text {
    float: right;
    margin-top: 2.77%;
    margin-right: 20%;
}

@media (max-width: 970px) {
    #brilles-text {       
       margin-top: 7.77%;
        margin-right: 10%;
    }
}

@media (max-width: 660px) {
    #brilles-text {  
        float: none; 
        margin-top: 40.77%;
        margin-bottom: 1%;
    }
}

.inner-merki {
    position: relative;
    margin-top: 7.5%;
    overflow: hidden;
}

.merki-text {
    width: 36.604%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2F4858;
    text-align: left;
}

@media (max-width: 970px) {
    .merki-text { width: 45.604%; }
}

@media (max-width: 660px) {
    .merki-text { 
        width: 90.604%;
        text-align: center;
        font-size: 12px;
        line-height: 15px; 
    }
}

/* Misija */

.misija-apraksts {   
    margin-top: 3.7%;
    margin-bottom: 11%;
    margin-left: -0.3%;
    text-align: center;
    letter-spacing: 0.15px;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    color: #2F4858;
}

@media (max-width: 660px) {
    .misija-apraksts { 
        margin-top: 7.7%;
        margin-bottom: 31%;
        width: 95%;
        font-size: 18px;
    }
}


/* Dzeltenais bloks */

.yellow-pamats {
    z-index: -1;
    width: 100%;
}

@media (max-width: 970px) {
    .yellow-pamats { margin-top: 9%; }
}

.white-icon {
    position: absolute;
    margin-left: -63.5%;
    margin-top: 5.7%;
}

@media (max-width: 970px) {
    .white-icon {
        margin-left: -74.5%;
        margin-top: 18.7%;
    }
}

@media (max-width: 660px) {
    .white-icon {
        margin-left: -90.5%;
        width: 82%;
        margin-top: 32.7%;
    }
}

.white-text {
    position: absolute;
    margin-top: -11.7%;
    margin-left: 18.5%;
    width: 63%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 970px) {
    .white-text {
        margin-top: -21.2%;
        margin-left: 11.5%;
        width: 78%;
    }
}

@media (max-width: 660px) {
    .white-text {
        font-size: 18px;
        margin-top: -57.2%;
        margin-left: 5.5%;
        width: 89%;
    }
}


/* sapņņu atlase */

.atlase {
    margin-top: 10.7%;
    position: relative;
}

@media (max-width: 970px) {
    .atlase { margin-top: 18.5%; }
}

.inner-atlase {
    overflow: hidden;
    text-align: center;
}

.loudspeaker {
    float: left;
    width: 21.011%;
    margin-left: 20.1%;
    margin-top: 2.6%;
}
@media (max-width: 970px) {
    .loudspeaker { 
        width: 27%; 
        margin-left: 13.6%;
    }
}

@media (max-width: 660px) {
    .loudspeaker { 
        float: none;
        width: 90%;
        margin-left: 5.6%;
    }
}

@media (max-width: 970px) {
    #speaker-icon{
        width: 51%;
        margin-top: 6%;
    }
}

@media (max-width: 660px) {
    #speaker-icon{
        width: 39%;
        margin-top: 11%;
    }
}

.people {
    float: right;
    width: 21.011%;
    margin-right: 20.2%;
    margin-top: 4.8%;
    margin-bottom: 9.9%;
}

@media (max-width: 970px) {
    .people {
        width: 33.011%;
        margin-right: 10.5%;
        margin-top: 1.8%;    
    }

    #people-icon {
        width: 63%;
        margin-top: 7%;
    }
}

@media (max-width: 660px) {
    .people {
        width: 79.011%;
        margin-right: 11.5%;
        margin-top: 3.8%;
    }

    #people-icon {
        width: 52%;
        margin-top: 13%;
    }
}

.atlase-text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #2F4858;
}

@media (max-width: 970px) {
    .atlase-text { 
        font-size: 18px; 
        line-height: 21px;
    }
}

#vara-desc {
    margin-top: -11.9%;
    margin-left: 14%;
    width: 72%;
}

@media (max-width: 970px) {
    #vara-desc {
        margin-top: -20.5%;
        margin-left: 12%;
        width: 76%;
    }
}

@media (max-width: 660px) {
    #vara-desc {
        margin-top: -67.5%;
        margin-left: 1%;
        width: 96%;
    }
}

#varaviksne { margin-left: -66%; }

@media (max-width: 970px) {
    #varaviksne {
        margin-left: -78%;
        margin-top: 19.7%;
    }
}

@media (max-width: 660px) {
    #varaviksne {
        margin-left: -91%;
        margin-top: 29.7%;
    }
}

/*  piepildīt sapni */

.sapni {
    margin-top: 9.1%;
    padding-bottom: 22%;
    width: 100%;
}

.sapnotajiem {
    left: 8%;
    float: left;
    position: relative;
    width: 44.95%;
    text-align: center;
}

.uznemejiem {
    right: 6.2%;
    position: relative;
    width: 48.9%;
    float: right;
    text-align: center;
}

@media (max-width: 970px) {
    .sapni { 
        margin-top: 17%;
        margin-bottom: 20%;
    }

    .sapnotajiem { left: 3%; }

    .uznemejiem {
        right: 3%;
        width: 44.95%;
    }
}

@media (max-width: 660px) {
    .sapni { margin-top: 0.6%; }

    .sapnotajiem {
        left: unset;
        transform: translatex(6%);
        margin-bottom: 25%;
        width: 90%;
        float: none;
    }

    .uznemejiem {
        right: unset;
        transform: translatex(6%);
        width: 90%;
        float: none;
    }
} 

@media (max-width: 900px) {
    .button {
        margin-top: 12%;
    }
}