.iedvesma-ievads { margin-left: 0.3%; }

.iedvesma-title {
    margin-top: 15%;
    text-align: center;
    position: relative;
}

@media (max-width: 900px) {
    .iedvesma-title { margin-top: 22%; }
}

@media (max-width: 500px) {
    .iedvesma-title { 
        margin-top: 31%;
        width: 70%;
        margin-left: 15%;
        line-height: 57px; 
    }
}

.iedvesma-apraksts {
    margin-top: 4.3%;
    margin-bottom: 10.6%;
    margin-left: 14.9%;
    text-align: center;
    letter-spacing: 0.15px;
    font-size: 24px;
    width: 70%;
    font-family: Montserrat, sans-serif;
    color: #2F4858;
}

@media (max-width: 900px) {
    .iedvesma-apraksts { margin-top: 6.3%; }
}

@media (max-width: 500px) {
    .iedvesma-apraksts { 
        margin-top: 16.3%;
        font-size: 18px;
    }
}

/* grid */

.grid-container {
    position: relative;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
   /* justify-content: space-evenly; */
    margin: 10%;
    margin-left: 11.5%;
}

@media (max-width: 900px) {
    .grid-container {
        margin: 11%;
        margin-left: 10%;
        margin-bottom: -2%;
    }
}

@media (max-width: 500px) {
    .grid-container {
        margin: 3%;
        margin-left: 6%;
        margin-top: 25%;
        margin-bottom: 25%;
    }
}

.grid-item {
    margin: 0.5%;
    margin-left: 0.8%;
    margin-bottom: 0.8%;
    width: 160px;
    height: 160px;
    background-image: url("../img/grid_frame.png");
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: right;
    color: #FFFFFF;
}

@media (max-width: 900px) {
    .grid-item {
        margin-bottom: 1.78%;
        margin-right: 0.94%;
        margin-left: 0.5%;
        width: 142.69px;
        height: 142.69px;
    }
}

@media (max-width: 500px) {
    .grid-item {
        margin-bottom: 3.78%;
        margin-right: 2.94%;
        width: 134.14px;
        height: 134.14px;
    }
}

.grid-num {
    position: absolute;
    z-index: 1;
    margin-top: 115px;
    margin-left: 122px;
}

@media (max-width: 900px) {
    .grid-num {
        margin-top: 98px;
        margin-left: 105px;
    }
}

@media (max-width: 500px) {
    .grid-num {
        margin-top: 88px;
        margin-left: 89px;
    }
}

.grid-img {
    position: absolute;
    display: flex;
    opacity: 0.5;
}

@media (max-width: 900px) {
    .grid-img { width: 142.69px; }
}

@media (max-width: 500px) {
    .grid-img { width: 134.14px; }
}

.empty {
    margin: 0.5%;
    width: 160px;
    height: 50px;
}

.balode {
    position: absolute;
    z-index: 1;
    margin-left: 47px;
    margin-top: 40px;
    width: 59px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    text-align: center;
}

.jauns-stasts {
    position: absolute;
    z-index: 1;
    margin-left: -2px;
    margin-top: 47px;
    width: 160px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    align-items: center;
    text-align: center;
}

@media (max-width: 500px) {
    .jauns-stasts {
        width: 140px;
        line-height: 21px;
        font-size: 14px;
    }
}

/*komandas dalībnieki*/

.team-title {
    margin-top: 10.7%;
    text-align: center;
    position: relative;
}

@media (max-width: 900px) {
    .team-title { margin-top: 18.3%; }
}

@media (max-width: 500px) {
    .team-title { margin-top: 36.3%; }
}


.team-desc {
    margin-top: -0.2%;
    margin-bottom: -0.5%;
    margin-left: 28.5%;
    width: 43%;
    text-align: center;
    letter-spacing: 0.15px;
    font-size: 18px;
    line-height: 22px;
    font-family: Montserrat, sans-serif;
    color: #2F4858;
}

@media (max-width: 900px) {
    .team-desc {
        margin-left: 12%;
        width: 76%;    
    }
}

@media (max-width: 900px) {
    .team-desc {
        margin-left: 7%;
        margin-top: 8.8%; 
        width: 87%;   
        font-size: 14px;
        line-height: 18px;
    }
}

.members {
    position: relative;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5%;
    margin-right: 6%;
    margin-left: 6%;
    margin-bottom: 9.6%;
}

@media (max-width: 900px) {
    .members {
        margin: 12.5%;
        margin-left: 25%;
        margin-bottom: 15%;
        width: 50%;
    }
}

@media (max-width: 500px) {
    .members {
        margin-top: 25%;
        margin-bottom: 7%;
    }
}

.dalibnieki {
    position: relative;
    margin-bottom: 6%;
}

@media (max-width: 900px) {
    .dalibnieki { width: 352px; }
}

@media (max-width: 500px) {
    .dalibnieki { 
        width: 280px; 
        margin-bottom: 6%;
    }
}


.fade {
    position: absolute;
    z-index: 1;
    margin-left: -290px;
}

@media (max-width: 900px) {
    .fade {
        width: 352px;
        margin-left: -351px;
    }
}

@media (max-width: 500px) {
    .fade {
        width: 280px;
        margin-left: -279px;
    }
}

.status {
    position: absolute;
    z-index: 2;
    margin-top: -66px;  
    margin-left: 13px;
    width: 271px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.94px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 900px) {
    .status { width: 362px; }
}

@media (max-width: 500px) {
    .status { 
        width: 252px;
        margin-top: -70px;           
        font-size: 14px;
    }
}

.name {
    margin-top: -101px;
    margin-left: 4px;
    font-family: Oswald;
    font-size: 24px;
    line-height: 36px;
}

@media (max-width: 900px) {
    .name { margin-left: -14px; }
}

@media (max-width: 500px) {
    .name { 
        margin-left: 9px;
        margin-top: -100px;
        font-size: 18px;
    }
}

/* Video overlay */

.video-overlay {
    top: 0;
    position: fixed;
    z-index: 3;
    display: none;
    height: 100%;
    width: 100%;
    align-content: center;
    background: rgba(47, 72, 88, 0.9);
}

.video-name {
    margin-top: 1.5%;
    font-family: Oswald;
    font-size: 36px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 500px) {
    .video-name {
        margin-top: 6.5%;
        font-size: 24px;
    
    }
}

.thumbnail {   
    margin-top: 1.5%;
    margin-left: 16.6%;
    width: 66.716%;
}

@media (max-width: 900px) {
    .thumbnail {
        margin-top: 2.5%;
        margin-left: 10.6%;
        width: 79.167%;
    }
}

@media (max-width: 500px) {
    .thumbnail {
        margin-left: 6.6%;
        width: 87.188%;
    }
}

#video-player {
    display: none;
    height: 40vw;
    border: 0;
    border: none;
    overflow: hidden;
}

#play {
    width: 9.2%;
    position: absolute;
    transform: translate(-50%,-50%);
    margin-right: -50%;
    left: 50%;
    margin-top: 23.5%;
}

@media (max-width: 900px) {
    #play {
        position: absolute;
        transform: translate(-50%,-50%);
        margin-right: -50%;
        left: 50%;
        margin-top: 28.5%;
        width: 16.2%;
    }
}

@media (max-width: 500px) {
    #play {
        width: 23.2%;
    }
}

#close-vid {
    margin-left: 86.8%;
    margin-top: 7%;
}

@media (max-width: 900px) {
    #close-vid {
        margin-left: 92.7%;
        margin-top: 39.3%;
    }
}

@media (max-width: 500px) {
    #close-vid {
        margin-left: 87.7%;
        margin-top: 46.3%;
    }
}


#show-more {
    display: none;
}

@media (max-width: 900px) {
    #show-more {
        margin: 0 auto;
        display: block;
    }
}

.grid-collapse {
    display: block;
}

@media (max-width: 900px) {
    .grid-collapse {
        display: none;
    }
}

@media (max-width: 500px) {
    #btn-cont { margin-top: -41%; }
}